
@model Blog.Models.EntryModel

<h2>AddEntry</h2>
@using(@Html.BeginForm("AddEntry", "Entry", FormMethod.Post))
{
    <div>blog entry</div>
    @Html.TextArea(Model.Passage)

    <button type="submit">Submit</button>
}