
@model BlogApp.Models.Entry.AddEntryViewModel

<fieldset>
<Legend>AddEntry</Legend>
@using(@Html.BeginForm("AddEntry", "Entry", FormMethod.Post))
{
    <div><b>Title</b></div>
    @Html.EditorFor(x => x.Title)
    <div><b>Entry</b></div>
    @Html.TextAreaFor(x => x.Passage)
    @Html.ValidationMessageFor(x => x.Passage)

    <p><button type="submit">Submit</button></p>
}
</fieldset>
<p>@Html.ActionLink("return to blog", "Index", "Home")</p>