
@model BlogApp.Models.AddEntryViewModel

<h2>AddEntry</h2>
@using(@Html.BeginForm("AddEntry", "Entry", FormMethod.Post))
{
    <div><b>Title</b></div>
    <p>@Html.EditorFor(x => x.Title)</p>
    <div><b>Entry</b></div>
    <p>@Html.TextAreaFor(x => x.Passage)</p>
        
    @Html.ValidationMessageFor(x => x.Passage)

    <p><button type="submit">Submit</button></p>
}

<p>@Html.ActionLink("return to blog", "Index", "Home")</p>