
@model BlogApp.Models.AddEntryViewModel

<h2>AddEntry</h2>
@using(@Html.BeginForm("AddEntry", "Entry", FormMethod.Post))
{
    <h5>blog entry</h5>
    
    <div></div>
    @Html.EditorFor(x => x.Title)
    @Html.TextAreaFor(x => x.Passage)
    @Html.ValidationMessageFor(x => x.Passage)

    <button type="submit">Submit</button>
}