
@model BlogApp.Models.Home.DisplayEntryViewModel
@using Domain.Blog.Core.Extensions;

<h1>This is a blog</h1>
<p>@Html.ActionLink("Add Entry", "AddEntry","Entry")</p>

@Html.PageLoader(Model.SortedEntities)

@Html.ActionLink("next", "Index", new { pageNumber = Model.PageNumber + 1 })
@Html.ActionLink("previous", "Index", new { pageNumber = Model.PageNumber - 1 })